:root {
  --gradiant: linear-gradient(45deg, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
  --error-red: hsl(0, 100%, 66%);
  --white: hsl(0, 0%, 100%);
  --light_grayish_violet: hsl(270, 3%, 87%);
  --dark_grayish_violet: hsl(279, 6%, 55%);
  --very_dark_violet: hsl(278, 68%, 11%);
  --font-family: 'Nunito Sans', sans-serif;
  --font-size: 18px;
  --font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: var(--font-family);
}

.left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.bg img {
  height: 100vh;
  z-index: -1;
}

.cards-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

.card:first-child {
  left: 20%;
}

.card:last-child {
  margin-left: 30%;
  margin-top: 20%;
}

.card-top {
  z-index: -1;
}

.front-card-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 25px;
  position: absolute;
  top: 0;
}

.front-card-content-row:first-child {
  display: flex;
  align-items: center;
  gap: 10px;
}

.front-card-content-row:last-child {
  margin-top: 70px;
}

#big-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

#small-circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

#card-number {
  font-size: 1.5rem;
  font-weight: var(--font-weight);
  color: var(--white);
  letter-spacing: 5px;
}

.card-owner-details {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.card-owner-details > span {
  font-size: 0.7rem;
  font-weight: var(--font-weight);
  color: var(--light_grayish_violet);
  letter-spacing: 2px;
}

.back-card-content {
  top: 0;
}

#card-cvv {
  font-size: 0.7em;
  font-weight: var(--font-weight);
  color: var(--light_grayish_violet);
  letter-spacing: 2px;
  top: 77%;
  position: absolute;
  right: 0;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.input-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.input-group label {
  font-size: 0.7rem;
  font-weight: 700;
  color: var(--gradiant);
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  height: 50px;
  border: 1px solid var(--light_grayish_violet);
  border-radius: 5px;
  padding: 0 20px;
  font-weight: var(--font-weight);
  letter-spacing: 2px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.input-group-left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.expiry-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

#confirm-button {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  background: var(--very_dark_violet);
  color: var(--white);
  font-weight: var(--font-weight);
  letter-spacing: 2px;
  cursor: pointer;
}

@media (max-width: 600px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .left {
    display: flex;
    flex-direction: column;
  }

  .bg img {
    height: 70vh;
    width: 100vw;
  }

  .card-top img {
    width: 350px;
  }

  .expiry-row {
    grid-template-columns: 1fr;
  }

  form {
    margin-top: 50px;
  }

  .cards-wrapper {
    bottom: 25%;
    flex-direction: column-reverse;
  }

  .front {
    position: absolute;
  }

  .back {
    margin-bottom: 50px;
    margin-right: 200px;
  }

  #card-cvv {
    visibility: hidden;
  }

  #big-circle {
    width: 40px;
    height: 40px;
  }

  #small-circle {
    width: 20px;
    height: 20px;
  }

  #card-number {
    font-size: 1.2rem;
    letter-spacing: 5px;
  }

  .card-owner-details {
    margin-top: 10px;
  }

  .front-card-content-row:last-child {
    margin-top: 60px;
  }

  .card-owner-details > span {
    font-size: 0.7rem;
    letter-spacing: 1px;
  }

  #card-cvv {
    top: 75%;
  }

  .right {
    width: 80%;
  }
}
